:root {
  --sec-bg-color: #001f33;
  --main-color: #ff5800;
  --bg-color: #001523;
  --border-color: #253239;
  --font-family: "NeueHaas", sans-serif;
  --sec-text: #c0bcca;
}

html {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Background color of the scrollbar */
}

*:after,
*:before,
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: white;
  font-family: var(--font-family);
  overflow-x: hidden;

  white-space: nowrap;
}
