{% extends 'admin/template.html' %} {% block content %}
<!-- AI Chat Bot Page -->
<div class="techwave_fn_aichatbot_page fn__chatbot">
  <div class="chat__page">
    <!-- REPLACE WITH HTMX --->

    {% include 'admin/fragments/chat_page.html' %}
  </div>
  <div class="chat__sidebar">
    <div
      class="sidebar_content border-[var(--techwave-border-color)] border-b"
      style="
        border-bottom-color: var(--techwave-border-color);
        border-bottom-width: 1px;
        border-style: solid;
      "
    >
      <ul id="chat_list" class="flex flex-col gap-3">
        {% if chats %} {% for chat in chats %}{% include
        'admin/fragments/chat_list_item.html' %}{% endfor %} {% else %}
        <p>No Active chat</p>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<!-- !AI Chat Bot Page -->
{% endblock %}
