{% extends 'admin/template.html' %} {% block content %}
<style>
  .norm {
    border: 3px dotted var(--goglobe-border-color);
    border-radius: 12px;
    padding: 50px 30px;
  }

  .highlight {
    border: 3px solid var(--goglobe-main-color);
    border-radius: 12px;
    padding: 50px 30px;
  }
  .active-theme {
    border: 3px solid var(--goglobe-main-color);
    color: var(--goglobe-main-color);
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 8px;
    margin: 5px 0;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: -4px;
    border: 0.5px solid lightgray;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: var(--goglobe-main-color);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--goglobe-main-color);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>

<div
  class="goglobe_fn_aichatbot_page fn__chatbot"
  style="margin-inline: 34px; margin-bottom: 16px"
>
  <div class="chat__page">
    <h1 class="mb-2 text-xl font-bold">Settings</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <div class="gap-4 flex flex-col">
        <div
          class="flex flex-col justify-center"
          style="
            border: 1px solid var(--goglobe-border-color);
            border-radius: 12px;
            padding: 24px;
          "
        >
          <h2 style="font-size: 26px">Logo Settings</h2>
          <p style="font-size: 16px; margin-top: 24px; margin-bottom: 12px">
            Large Logo
          </p>
          {% set logo = settings.logo.large %} {% set logo_type = 'large' %} {%
          include 'admin/fragments/logo-component.html' %}
          <p style="font-size: 16px; margin-top: 24px; margin-bottom: 12px">
            Small Logo
          </p>

          {% set logo_type = 'small' %} {% set logo = settings.logo.small %}
          {%include 'admin/fragments/logo-component.html' %}
        </div>

        <div
          class="flex flex-col justify-center gap-4"
          style="
            border: 1px solid var(--goglobe-border-color);
            border-radius: 12px;
            padding: 24px;
          "
        >
          <h2 style="font-size: 26px">Subjects</h2>
          <form
            hx-post="/admin/settings/subject"
            hx-swap="none"
            hx-on::after-request="location.reload();"
            class="flex flex-row gap-4"
          >
            <input
              type="text"
              name="subject"
              class="flex h-10 w-full rounded-md border border-[var(--goglobe-border-color)] bg-background px-3 py-2 text-base ring-none outline-none file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground disabled:cursor-not-allowed disabled:opacity-50 md:text-sm duration-200 transition-all focus:border-[var(--goglobe-main-color)]"
            />
            <button
              class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-[var(--goglobe-main-color)] text-white duration-200 transition-all hover:cursor-pointer hover:text-black hover:bg-white min-w-[50px] px-7"
            >
              <i data-lucide="plus" class="size-10"></i> Add
            </button>
          </form>
          <div class="flex flex-col justify-center gap-4">
            {% for subj in settings.subjects %}
            <div class="flex flex-row justify-between p-2">
              {{subj}}
              <button
                hx-delete="/admin/settings/subject/{{subj}}"
                hx-trigger="click"
                hx-swap="none"
                hx-on::after-request="window.location.reload()"
                class="inline-flex items-center justify-center py-2 gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-[var(--goglobe-main-color)] text-white duration-200 transition-all hover:cursor-pointer hover:text-black hover:bg-white min-w-[50px] px-7"
              >
                <i data-lucide="trash" class="size-10"></i> Remove
              </button>
            </div>
            {% endfor %}
          </div>
          <div class="w-full h-[1px] bg-[var(--goglobe-border-color)]"></div>
          <h2 style="font-size: 26px">Timings</h2>

          <form
            id="meetingTimeForm"
            hx-post="/admin/settings/timing"
            hx-trigger="submit"
            hx-swap="none"
            hx-on::after-request="window.location.reload()"
            class="flex flex-col gap-2"
          >
            <div>
              <label for="timezone" class="mb-2">Select Timezone:</label>
              <select id="timezone" name="timezone" required>
                <option value="">-- Select a timezone --</option>
                {% for tz in tzs %}
                <option value="{{ tz }}">{{ tz }}</option>
                {% endfor %}
              </select>
            </div>

            <div>
              <label for="meetingDay" class="mb-2">Select Day:</label>
              <select id="meetingDay" name="meetingDay" required>
                <option value="">-- Select a day --</option>
                {% set selected_days = settings.timings | map(attribute='day') |
                list %} {% for day in ['monday', 'tuesday', 'wednesday',
                'thursday', 'friday', 'saturday', 'sunday'] %}
                <option
                  value="{{ day }}"
                  {%
                  if
                  day
                  in
                  selected_days
                  %}disabled{%
                  endif
                  %}
                >
                  {{ day.capitalize() }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div
              class="flex flex-col md:flex-row w-full justify-between flex-nowrap gap-7 items-center"
            >
              <div class="flex flex-row justify-between w-full items-center">
                <label for="startTime" class="text-nowrap">Start Time:</label>
                <input
                  type="time"
                  id="startTime"
                  name="startTime"
                  class="h-10 rounded-md border border-[var(--goglobe-border-color)] bg-background px-5 py-2 text-base ring-none outline-none file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground disabled:cursor-not-allowed disabled:opacity-50 md:text-sm duration-200 transition-all focus:border-[var(--goglobe-main-color)]"
                  required
                />
              </div>
              <div class="flex flex-row justify-between w-full items-center">
                <label for="endTime" class="text-nowrap">End Time:</label>
                <input
                  class="h-10 rounded-md border border-[var(--goglobe-border-color)] bg-background px-5 py-2 text-base ring-none outline-none file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground disabled:cursor-not-allowed disabled:opacity-50 md:text-sm duration-200 transition-all focus:border-[var(--goglobe-main-color)]"
                  type="time"
                  id="endTime"
                  name="endTime"
                  required
                />
              </div>
            </div>

            <button
              type="submit"
              class="inline-flex items-center justify-center py-2 gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-[var(--goglobe-main-color)] text-white hover:text-black duration-200 transition-all hover:cursor-pointer hover:bg-white min-w-[50px] px-7"
            >
              Add Timing
            </button>
          </form>

          <div class="flex flex-col gap-2">
            {% for t in settings.timings %} {% set id = loop.index0 %} {%
            include 'admin/fragments/timing.html' %} {% endfor %}
          </div>
        </div>
      </div>

      <div class="gap-4 flex flex-col">
        <div
          class="flex flex-col justify-center"
          style="
            border: 1px solid var(--goglobe-border-color);
            border-radius: 12px;
            padding: 24px;
          "
        >
          <h2 style="font-size: 26px">API Keys</h2>
          {% set api_type = 'gemini' %} 
          {% include
          'admin/fragments/api-components.html' %} 
          {% set api_type = 'openAi' %}
          {% include 'admin/fragments/api-components.html' %} 
          {% set api_type =
          'claude' %} {% include 'admin/fragments/api-components.html' %}

 {% set api_type =
          'deepseek' %} {% include 'admin/fragments/api-components.html' %}


          <p style="margin-top: 2rem">
            Your API keys are stored on runtime and never shared with third
            parties.
          </p>
          <div class="flex flex-row gap-4" style="margin-top: 0.4rem">
            <i data-lucide="triangle-alert" class="text-yellow-200"></i>

            <p class="">
              API Keys will be reset to default upon restart of server to
              maintain security
            </p>
          </div>
        </div>

        <div
          class="flex flex-col justify-center"
          style="
            border: 1px solid var(--goglobe-border-color);
            border-radius: 12px;
            padding: 24px;
          "
        >
          <h2 style="font-size: 26px">General Settings</h2>
          <div class="flex flex-col gap-3">
              <p>Model Selection</p>


<form
  hx-post="/admin/settings/model"
  hx-trigger="change"
  hx-target="this"
  hx-swap="none"
  hx-on::after-request="window.location.reload()"
>
  <select
    name="model"
    class="bg-gray-800 text-white border border-white rounded-md p-2"
  >
    {% for label, value in bots() %}
    <option value="{{ value }}" {% if settings.model == value %}selected{% endif %}>
      {{ label }}
    </option>
    {% endfor %}
  </select>
</form>


          </div>

          <div
            class="grid grid-cols-1 md:grid-cols-3 items-center justify-center gap-4 h-64 md:h-24 my-6"
          >
            {% for theme in ['light','system','dark'] %}
            <div
              hx-post="/admin/settings/theme/{{theme}}"
              hx-trigger="click"
              hx-swap="none"
              hx-on::after-request="window.location.reload()"
              class="border border-white {% if settings.theme == theme %} active-theme {% endif %} rounded-md flex flex-col h-full hover:bg-gray-700/40 duration-200 transition-all hover:cursor-pointer items-center justify-center"
            >
              <i
                data-lucide="{% if theme == 'light' %}sun{% elif theme == 'dark' %}moon{% else %}laptop{% endif %}"
                class="size-8"
              ></i>
            </div>
            {% endfor %}
          </div>

          <!-- System Prompt Textarea + Save Button -->
          <form
            hx-post="/admin/settings/prompt"
            hx-swap="none"
            hx-on::after-request="window.location.reload()"
            class="flex flex-col gap-4 mt-6"
          >
            <label for="system_prompt" class="text-base font-medium"
              >System Prompt</label
            >
            <textarea
              name="prompt"
              id="prompt"
              rows="20"
              class="w-full rounded-md border border-[var(--goglobe-border-color)] bg-background px-3 py-2 text-base outline-none transition-all focus:border-[var(--goglobe-main-color)]"
            >
{{ settings.prompt | e }}</textarea
            >

            <button
              type="submit"
              class="inline-flex items-center justify-center gap-2 py-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 bg-[var(--goglobe-main-color)] text-white hover:bg-white hover:text-black min-w-[50px] px-7"
            >
              <i data-lucide="save" class="size-6"></i> Save
            </button>
          </form>

          <div
            class="h-0.5 w-full mt-6"
            style="background-color: var(--goglobe-border-color)"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
