{% extends 'admin/template.html' %} {% block content %}
<div class="flex flex-col md:flex-row h-screen w-full bg-[#0d1b26] text-white">
  <!-- Main Chat Panel -->
  <!-- Sidebar (Client Info) -->
  <div
    class="bg-[#001c2e] border-l border-[#132f41] p-4 h-[90vh] bottom-0 w-full md:static md:w-64 md:h-full md:bottom-auto chat__sidebar z-50"
  >
    <div class="mb-6">
      <h3 class="text-lg font-medium text-white mb-3">Client info</h3>
      <div id="client-info" class="text-sm text-gray-400">

        <div class="mb-4">
          <p class="text-gray-500 mb-1">
          Name</p>
          <p id="client-phone" class="text-white">{{ user.name or "-" }}</p>
        </div>
        <div class="mb-4">
          <p class="text-gray-500 mb-1">Contact</p>
          <a id="client-phone" class="text-white" target="_blank" href="https://wa.me/{{user.phone}}">{{ user.phone or "-" }}</a>
        </div>
        <div class="mb-4">
          <p class="text-gray-500 mb-1">Email</p>
          <p id="client-email" class="text-white break-all">
            {{ user.email or "-" }}
          </p>
        </div>
        <div class="mb-4">
          <p class="text-gray-500 mb-1">Desgnation</p>
          <p id="client-desg" class="text-white break-all">
            {{ user.desg or "-" }}
          </p>
        </div>
        <div class="mb-4">
          <p class="text-gray-500 mb-1">Country</p>
          <p id="client-country" class="text-white">{{ user.country or "-" }}</p>
        </div>

        <div class="mb-4">
          <p class="text-gray-500 mb-1">City</p>
          <p id="client-city" class="text-white">{{ user.city or "-" }}</p>
        </div>
        <div class="mb-4">
          <p class="text-gray-500 mb-1">IP Details</p>
          <p id="client-ip" class="text-white text-sm">{{ user.ip or "-" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
