{% extends 'admin/template.html' %} {% block content %}
<div
  class="goglobe_fn_aichatbot_page fn__chatbot"
  style="margin-inline: 34px; margin-bottom: 16px"
>
  <div class="chat__page">
    <h1 class="mb-2 text-xl font-bold">Change Logs</h1>
    {% set changeLogs = [ { "version": "1.0.1", "date": "29 May 2025",
    "changes": [ "Add Popup", "Fix Bugs", "Add Popup", "Fix Bugs", "Add Popup",
    "Fix Bugs", "Add Popup", "Fix Bugs", "Add Popup", "Fix Bugs", "Add Popup",
    "Fix Bugs", "Add Popup", "Fix Bugs", "Add Popup", "Fix Bugs", "Add Popup",
    "Fix Bugs", "Add Popup", "Fix Bugs" ] }, { "version": "1.0.0", "date": "21
    May 2025", "changes": [ "Add Popup", "Fix Bugs", "Add Popup", "Fix Bugs",
    "Add Popup", "Fix Bugs", "Add Popup", "Fix Bugs", "Add Popup", "Fix Bugs",
    "Add Popup", "Fix Bugs", "Add Popup", "Fix Bugs", "Add Popup", "Fix Bugs",
    "Add Popup", "Fix Bugs", "Add Popup", "Fix Bugs" ] } ] %}
    <div class="flex flex-col gap-4 items-center">
      {% for change in changeLogs %} {% set index = loop.index %} {% include
      'admin/fragments/change-log.html' %} {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
