<p class="text-base mt-6 mb-3">{{ api_type.capitalize() }} Keys</p>
{% if settings.apiKeys[api_type] %}
<div class="flex w-full flex-row justify-between min-h-10 gap-4 items-center">
  <p>
    {{'*'*settings.apiKeys[api_type]|length}}{{ settings.apiKeys[api_type][-4:]
    }}
  </p>
  <button
    hx-delete="/admin/settings/api/{{ api_type }}"
    hx-trigger="click"
    hx-swap="none"
    hx-on::after-request="window.location.reload()"
    class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium px-4 py-2"
    style="background-color: var(--main-color);
                       color: white;
                       hover:bg-white hover:text-black"
  >
    <i data-lucide="trash" class="size-4"></i> Remove
  </button>
</div>
{% else %}
<form
  class="flex w-full flex-row justify-between min-h-10 gap-4 items-center"
  hx-post="/admin/settings/api/{{ api_type }}"
  hx-swap="none"
  hx-on::after-request="window.location.reload()"
>
  <input
    type="password"
    id="key"
    name="key"
    class="flex h-10 w-full rounded-md border px-3 py-2 text-sm outline-none transition-all"
    style="
      border-color: var(--border-color);
      background-color: var(--bg-color);
      color: var(--sec-text);
    "
    autocomplete="off"
  />
  <button
    type="submit"
    class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium px-4 py-2"
    style="background-color: var(--main-color);
                       color: white;
                       hover:bg-white hover:text-black"
  >
    <i data-lucide="save" class="size-4"></i> Save
  </button>
</form>
{% endif %}
