<div class="w-[300px] h-full flex flex-col px-[17px] py-[35px] gap-4">
  <p class="text-[26px] text-[var(--sec-text)]">Client info</p>
  {% if not user %}
  <p class="text-[14px]">Select a chat to view details</p>
  {% else %}
  <div class="flex flex-col gap-1">
    <p class="text-[var(--sec-text)] text-[14px]">Name</p>
    <p class="text-[14px]">{{ user.name }}</p>
  </div>
  <div class="flex flex-col gap-1">
    <p class="text-[var(--sec-text)] text-[14px]">Contact</p>
    <a
      class="text-[var(--main-color)] font-bold text-[14px]"
      target="_blank"
      href="https://wa.me/{{ user.phone }}"
      >{{ user.phone }}</a
    >
  </div>
  <div class="flex flex-col gap-1">
    <p class="text-[var(--sec-text)] text-[14px]">Contact</p>
    <a
      class="text-[var(--main-color)] font-bold text-[14px]"
      target="_blank"
      href="mailto:{{ user.email }}"
      >{{ user.email }}</a
    >
  </div>
  <div class="flex flex-col gap-1">
    <p class="text-[var(--sec-text)] text-[14px]">Designation</p>
    <p class="text-[14px]">{{ user.desg }}</p>
  </div>

  <div class="flex flex-col gap-1">
    <p class="text-[var(--sec-text)] text-[14px]">Company</p>
    <p class="text-[14px]">{{ user.company }}</p>
  </div>
  <div class="flex flex-col gap-1">
    <p class="text-[var(--sec-text)] text-[14px]">Country</p>
    <p class="text-[14px]">{{ user.country }}</p>
  </div>
  <div class="flex flex-col gap-1">
    <p class="text-[var(--sec-text)] text-[14px]">City</p>
    <p class="text-[14px]">{{ user.city }}</p>
  </div>
  <div class="flex flex-col gap-1">
    <p class="text-[var(--sec-text)] text-[14px]">IP Details</p>
    <a
      href="https://ipleak.net/{{ user.ip }}"
      class="text-[var(--main-color)] text-[14px]"
      target="_blank"
      >{{ user.ip }}</a
    >
  </div>
  {% endif %}
</div>
