<style>
  :root {
    /* color-scheme: dark; */
    --goglobe-site-bg-color: #001f33;
    --goglobe-header-bg-color: #001f33;
    --goglobe-some-r-bg-color: #001f33;
    --goglobe-some-a-bg-color: #001f33;
    --goglobe-main-color: #ff5800;
    --goglobe-main-color1: #ff5800;
    --goglobe-main-color2: #ff5800;
    --goglobe-heading-color: #c0bcca;
    --goglobe-body-color: #c0bcca;
    --goglobe-border-color: #253239;
    --goglobe-button-bg-color: #001f33;
    --goglobe-hover-color: #fff;
    --goglobe-heading-font-family: "NeueHaas", sans-serif;
    --goglobe-body-font-family: "NeueHaas", sans-serif;
    --goglobe-left-panel-width: 250px;
    --goglobe-header-height: 80px;
    --goglobe-input-color: #475864;
  }
  /* vapi button styles */
  .vapi-btn {
    position: relative;
  }
  .vapi-btn-pill {
  background: #001f33 !important;
  color: white !important;
  font-size: 15px;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.32px;
  cursor: pointer;
  box-shadow: none !important;
  padding: 0 !important;
  transform: none !important;
  }
  #vapi-title {
    font-size: 15px !important
  }
   #vapi-subtitle{
    font-size: 15px !important
  }

#vapi-icon-container {
  display: none;
}
#vapi-title-container {
    padding: 0;
}

.vapi-btn {
  position: "relative";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: fit-content;

}
</style>
<div
  id="chatbot-body"
  class="flex chatbot-body"
  style="all: unset; min-height: 100%"
>
  {% block content %}{% endblock %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
{% block scripts %}{% endblock %}
