<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>
      <!-- document.documentElement.setAttribute("data-goglobe-skin", '{{settings["theme"]}}'); -->

      document.documentElement.setAttribute("data-goglobe-skin", "dark");
      if (localStorage.frenify_panel !== "") {
        document.documentElement.classList.add(localStorage.frenify_panel);
      }
    </script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <meta
      name="htmx-config"
      content='{"selfRequestsOnly":false,   "withCredentials": true    }'
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script>
      const fontFiles = {{font_files | tojson }};
      const fontFolder = "{{settings['backend_url']}}{{ url_for('static', filename='font/Proxima Nova Complete Collection') }}";
    </script>
    <script src="{{settings['backend_url']}}{{ url_for('static', filename='js/fontLoader.js') }}"></script>
    <!-- Styles -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ settings['backend_url'] }}{{ url_for('static', filename='css/prestyle.css') }}"
    />
  </head>
  <body>
    <!-- <div -->
    <!--   hx-get="{{ settings['backend_url'] }}/min/get-headers" -->
    <!--   hx-target="head" -->
    <!--   hx-swap="beforeend" -->
    <!--   hx-trigger="load" -->
    <!-- ></div> -->
    <!-- <script> -->
    <!--   document.addEventListener("DOMContentLoaded", function () { -->
    <!--     // Check if the script is already present in the head -->
    <!--     if ( -->
    <!--       !document.querySelector( -->
    <!--         'script[src="{{ settings["backend_url"] }}/min/get-headers"]', -->
    <!--       ) -->
    <!--     ) { -->
    <!--       // If not present, trigger the htmx request to add the script -->
    <!--       const triggerElement = document.getElementById("loadScriptTrigger"); -->
    <!--       triggerElement.setAttribute( -->
    <!--         "hx-get", -->
    <!--         "{{ settings['backend_url'] }}/min/get-headers", -->
    <!--       ); -->
    <!--       triggerElement.setAttribute("hx-trigger", "load"); -->
    <!--       // Optionally, if you want to display a loading spinner or something while it loads -->
    <!--       htmx.trigger(triggerElement, "load"); -->
    <!--     } -->
    <!--   }); -->
    <!-- </script> -->
    <!-- {{ session.sid }} -->
    <div class="h-full w-full flex chatbot-body">
      {% block content %}{% endblock %}
    </div>
    <!-- <script -->
    <!--   type="text/javascript" -->
    <!--   src="{{settings['backend_url']}}{{ url_for('static', filename='js/jquery.js' ) }}" -->
    <!-- ></script> -->
    <!-- <script -->
    <!--   type="text/javascript" -->
    <!--   src="{{settings['backend_url']}}{{ url_for('static', filename='js/plugins.js' ) }}" -->
    <!-- ></script> -->
    <!-- <script -->
    <!--   type="text/javascript" -->
    <!--   src="{{settings['backend_url']}}{{ url_for('static', filename='js/init.js' ) }}" -->
    <!-- ></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
