{% extends 'user/base.html' %} {% block content %}
<!-- AI Chat Bot Page -->
<div class="techwave_fn_aichatbot_page fn__chatbot" style="min-height: 100%">
  <div class="chat__page" style="min-height: 100%; display: flex; justify-content: flex-end; padding-bottom: 2.5rem;">
    <!-- REPLACE WITH HTMX --->
    <div style="padding-left: 1.5rem; padding-right: 1.5rem; height: 100%; display: flex; flex-direction: column; align-items: flex-end; justify-content: flex-end; gap: 0.5rem;">
      {% for subject in settings['subjects'] %}
      
        style="font-family: var(--techwave-body-font-family) !important; 
               font-size: 14px !important; 
               padding: 5px 10px; 
               border-top-left-radius: 1.5rem; 
               border-top-right-radius: 1.5rem; 
               border-bottom-left-radius: 1.5rem; 
               font-size: 1.5rem; 
               border: 2px solid var(--techwave-border-color); 
               transition-duration: 150ms; 
               transition-property: all; 
               cursor: pointer;"
        href="/min/login/{{subject}}"
      >
        {{subject}}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<!-- !AI Chat Bot Page -->
{% endblock %}
