{% extends 'user/base.html' %} {% block content %}
<!-- AI Chat Bot Page -->

<div class="techwave_fn_aichatbot_page fn__chatbot" style="min-height: 100%">
  <div class="chat__page flex justify-end pb-10" style="min-height: 100%">
    <!-- REPLACE WITH HTMX --->

    <div class="px-6 h-full flex flex-col items-end justify-end gap-2">
      {% for subject in settings['subjects'] %}
      <a
              style="font-family: var(--techwave-body-font-family) !important"
        href="/min/login/{{subject}}"
        class="px-8 py-1.5 rounded-t-3xl rounded-bl-3xl text-xl border-2 duration-150 transition-all cursor-pointer active:text-white active:bg-[var(--techwave-main-color)] border-[var(--techwave-border-color)] hover:border-[var(--techwave-main-color)] hover:bg-[var(--techwave-main-color)]/50"
      >
        {{subject}}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<!-- !AI Chat Bot Page -->
{% endblock %}
